// Button.scss

// Base styles for button
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 6.4rem; // Converted to rem
  gap: 0.8rem;
  letter-spacing: 0.05em;
  font-size: 3.2rem;
  font-family: 'MouseMemoirs-Regular', sans-serif;
  color: var(--white);
  border: none;
  cursor: pointer;
  border-radius: 4rem; // Converted to rem
  text-transform: uppercase; // If you want the text to be uppercase
  outline: none; // Accessibility: You might want to handle focus styles differently
}

// Blue theme styles
.button-blue {
  background: #2463ff;
  box-shadow: inset 0px -0.2rem 0px 0.3rem #140e66, inset 0px 0.1rem 0px 0.6rem #3c74ff; // Converted to rem
}

// Pink theme styles
.button-pink {
  background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
  box-shadow: inset 0px -0.2rem 0px 0.3rem #140e66, inset 0px 0.1rem 0px 0.6rem #c642fb; // Converted to rem
}
