.start {
  &-screen {
    width: 100%;
    max-width: 60rem;

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      padding: 8rem 2rem;
    }
  }

  &-button {
    background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
    box-shadow: inset 0px -4px 0px 5px #243041, inset 0px -12px 0px 11px #9d2df5;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-top: 13rem;
    padding: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    &:hover {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
    }
  }
}

.common-buttons {
  margin: 6rem 0;
}
