// .start-screen {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//   }

//   .game-box {
//     background: linear-gradient(180deg, #344ABA 0%, rgba(0, 20, 121, 0.83) 100%);
//     box-shadow: inset 0px -8px 0px 4px #140E66, inset 0px 6px 0px 8px #2463FF;
//     border-radius: 48px;
//     padding: 2rem; /* Adjust the padding as necessary */
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }

// .logo {
//   position: absolute;
//   top: -2rem; // Half the height of the header to pull it up over the container
//   left: 50%;
//   transform: translateX(-50%); // Center it horizontally
// }

//   .play-button {
//     background-color: #FF00FF; /* Replace with your actual play button color */
//     border: none;
//     border-radius: 50%;
//     padding: 1rem;
//     margin-bottom: 2rem;
//     cursor: pointer;
//   }

//   /* Style the text or icon inside the play button as needed */
//   .play-button span {
//     /* Style as needed */
//   }

//   .how-to-play-button {
//     background-color: transparent;
//     border: 2px solid #FFFFFF; /* Replace with the actual color for the button border */
//     color: #FFFFFF; /* Replace with the actual text color */
//     padding: 0.5rem 1rem;
//     cursor: pointer;
//   }

//   /* Add media queries and other responsive design adjustments as necessary */

.containerStartScreen {
  width: 100%;
  max-width: 60rem;
}

.start-button {
  background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
  box-shadow: inset 0px -4px 0px 5px #243041, inset 0px -12px 0px 11px #9d2df5;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin: 13rem 8.2rem 0;
  padding: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
  }
}

.common-buttons {
  margin: 6rem 0;
}
