.header-button {
  background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
  box-shadow: inset 0px -5px 0px -1px rgba(157, 45, 245, 0.25);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
  }

  > img {
    width: 1.7rem;
  }
}
