.main-game {
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
  flex-direction: column;
  padding: 0 1rem;
  gap: 2.8rem;
}

.category-header {
  font-size: 2rem;
}

// Style the word container element
.word-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: clamp(2.7rem, 7vw, 4rem);
  row-gap: 1.2rem;
}

// Style the word element
.word {
  display: inline-flex;
  gap: clamp(0.4rem, 1vw, 0.8rem);
}

.keyboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 2.8rem)); // Adjust `minmax` based on your smallest button width
  gap: 2.4rem 0.8rem;
  justify-content: center;
  align-content: start;
  width: 100%;
}

@media (min-width: 550px) {
  .word-container {
    column-gap: clamp(4rem, 7vw, 8.8rem);
    row-gap: 1.6rem;
  }
  .keyboard-container {
    gap: 2.4rem 1.6rem;
    grid-template-columns: repeat(auto-fill, minmax(auto, 6.4rem)); // Adjust to your medium button width
  }
  .word {
    gap: clamp(0.8rem, 1vw, 1rem);
  }
}

@media (min-width: 980px) {
  .keyboard-container {
    gap: 2.4rem;
    grid-template-columns: repeat(auto-fill, minmax(auto, 10.9rem)); // Adjust to your large button width
  }
}

@media (min-width: 1030px) {
  .word-container {
    column-gap: clamp(8.8rem, 7vw, 11.2rem);
  }
  .word {
    gap: clamp(1.2rem, 1vw, 1.6rem);
  }
}
