.main-game {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 0 2rem;
  gap: 1rem;
}

.category-header {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.word-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  .letter-box {
    width: 3rem;
    height: 4rem;
    margin: 0.5rem;
    border-bottom: 2px solid #ffffff; // Adjust the color to match your design
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #ffffff; // Adjust the color to match your design
  }
}

.keyboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 2.8rem)); // Adjust `minmax` based on your smallest button width
  gap: 2.4rem 0.8rem;
  justify-content: center;
  align-content: start;
  width: 100%;
}

@media (min-width: 550px) {
  .keyboard-container {
    gap: 2.4rem 1.6rem;
    grid-template-columns: repeat(auto-fill, minmax(auto, 6.4rem)); // Adjust to your medium button width
  }
}

@media (min-width: 980px) {
  .keyboard-container {
    gap: 2.4rem;
    grid-template-columns: repeat(auto-fill, minmax(auto, 10.9rem)); // Adjust to your large button width
  }
}
