.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &-extra-cell {
    display: none;
  }

  > img {
    width: 20rem;
  }
}

@media (min-width: 550px) {
  .header {
    &-extra-cell {
      display: block;
    }

    > img {
      width: 40rem;
    }
  }
}

@media (min-width: 980px) {
  .header {
    > img {
      width: 69rem;
    }
  }
}
