.step {
  background: #ffffff; // Or any other background
  border-radius: 10px; // Adjust as needed
  padding: 1rem; // Adjust as needed
  text-align: center;
  margin-bottom: 1rem; // Spacing between each step

  .step-number {
    font-size: 1.4rem; // Adjust as needed
    color: #2463ff;
  }

  .step-title {
    font-size: 1.6rem; // Adjust as needed
    color: #261676;
  }

  .step-description {
    font-size: 1.4rem; // Adjust as needed
    color: #887dc0;
  }
}
