.app {
  box-sizing: border-box;
  max-width: 120rem;
  margin: 0 auto;
}

.dialog {
  font-family: 'MouseMemoirs-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 134px;
  line-height: 120%;
  /* identical to box height, or 161px */
  text-align: center;
  letter-spacing: -0.005em;
  background: linear-gradient(180deg, #67b6ff 16.42%, #ffffff 100%);
}
