@import '~normalize.css';
@import './styles/fonts.css';

:root {
  --dark-navy: #261676;
  --blue: #2463ff;
  --white: #ffffff;
  --current-background-image: url('./assets/images/background-mobile.svg');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

button {
  transition: all 0.3s ease;
}

/* Base styles */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'MouseMemoirs-Regular', sans-serif;
  min-height: 100vh;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Initial background image for mobile devices */
  background-image: url('./assets/images/background-mobile.svg');
}

/* Applying the gradient overlay */
.body-gradient {
  background-image: linear-gradient(180deg, rgba(26, 4, 58, 0.75) 0%, rgba(21, 18, 120, 0.75) 70.31%, rgba(43, 22, 119, 0.75) 100%), /* Retain the existing background image */ var(--current-background-image);
}

/* Responsive Background Images */
@media (min-width: 768px) {
  body {
    --current-background-image: url('./assets/images/background-tablet.svg');
    background-image: var(--current-background-image);
  }
}

@media (min-width: 1024px) {
  body {
    --current-background-image: url('./assets/images/background-desktop.svg');
    background-image: var(--current-background-image);
  }
}
